
header {
    background-color: #FFCC99; 
    text-align: center; 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
 
}

main {
    background-color: #E6F2FF; 
    display: flex; 
    gap: 10px; 
}

aside {
    background-color: #B3D9FF; 
    flex: 1; 
    border: 1px solid #CCC; 
}

section {
    flex: 3; 
    margin: 20px;
}

footer {
    background-color: #99CC99; 
    text-align: center; 
    border: 1px solid #CCC; 
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
